@model IEnumerable<ShopApp.Models.Type>

@helper Truncate(string input, int length)
{
    if (input.Length <= length) {
        @input
    } else {
        @input.Substring(0, length)<text>...</text>
    }
}

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Truncate(item.Product.Name, 25)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.TypeId }) |
            @Html.ActionLink("Details", "Details", new { id = item.TypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.TypeId })
        </td>
    </tr>
}

</table>
